__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.log
*.sqlite3
*.db
build/
dist/
*.egg-info/
*.egg
**/.git
**/.gitignore
**/.gitattributes
.vscode/
.idea/
*.iml
.dockerignore
Dockerfile
.gameSages/
gameSages/
gamesages-43d85821b61c.json
